[OPTIONS]
ID		= ExperimentLUX
OD_cutRatio = .1

[PATHS]
Promoters	= /home/hpriest/Brachypodium/Y1H/SynPro/Promoters.ByWells.fasta
Output 	= /home/hpriest/Brachypodium/Y1H/Experiment8/Output
DataDir	= /home/hpriest/Brachypodium/Y1H/Experiment8/Data
TempDir	= /home/hpriest/Brachypodium/Y1H/Experiment8/Temp
Words		= /home/hpriest/all.5-8.kmers
Normalize	= 0 
Barcodes	= Experiment_8_synth_pro_lux_barcode_key.txt

[LAYOUTS]
1 = Experiment_8_syn_promoter_layout_1.txt
2 = Experiment_8_syn_promoter_layout_2.txt

